/*
$light-color
$grey-1: $body;
$main: $82719B;
$secondary: $secondary;
$dark-color:A09FAD;
*/

$light-color: #F9F9F9;
$dark-color:#A09FAD;
$body: #8c898f;
$main: #82719B;
$secondary: #373D50;

$heavy-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$light-shadow: 0 1px 1px rgba(0,0,0,.05);
$border-std: 5px;


body {
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  font-family: 'Cantarell', sans-serif;
  color: $body;
  font-size: 14px;
}

img[src="/"], p:empty {
  display: none;
}

a {
  color: $body;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: initial;
  letter-spacing: 1px;
  color: $main;
}

h1 {
  opacity: 0;
  font-size: 1.5rem;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-fill-mode: both;
  animation-delay: 1s;
  transform: scale(1);
  transition: all 1s;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* GENERAL  */
/* main{
  padding-top: 2rem;
} */

#allProjects, #features, .demoProjects, .project, .about, .aboutLinks, .skillbox, #heroHolder {
  width: 75%;
  margin: 0 auto;
  max-width: 1280px;
}

/* TRANNYS  */

.fade-enter {
  opacity: 0.01;
  &.fade-enter-active {
    opacity: 1;
    transition: 1000ms;
  }
}

.fade-exit {
  opacity: 1;
  background: $secondary;
  &.fade-exit-active {
    opacity: 0.01;
    transition: 500ms;
  }
}

/* HEADER */

header {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: absolute;
  z-index: 999;
  nav {
    float: right;
    padding: 1.5rem 1rem;
    a {
      display: inline-block;
      color: white;
    }
  }
  .header {
    max-width: 93%;
    margin: 0 auto;
    display: block;
    margin-top: 1%;
  }
  a.logo {
    display: inline-block;
    text-align: left;
    margin: 0;
    width: 5rem;
    padding: 1rem;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* HERO */

#overlay, .test {
  background: url(/assets/home/mount.png) no-repeat;
  mix-blend-mode: lighten;
  background-position: center top;
  background-size: cover;
  position: absolute;
  top: -5%;
  left: -5%;
  right: -5%;
  bottom: -5%;
}

.hero {
  overflow: hidden;
  text-align: left;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 900;
  color: #aaa;
  text-transform: uppercase;
  position: relative;
  background: linear-gradient(228deg, $main, #0f0d12);
  background-size: 400% 400%;
  /* -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite; */
  &.less-effort, &.mpc, &.monsters-ink, &.co-site, &.horse-repairs, &.emails {
    animation: none;
    background-size: cover;
  }
  &.less-effort {
    background-image: url("/assets/1-less-effort/background.jpg");
  }
  &.mpc {
    background-image: url("/assets/2-Mind-Power-Composition/background.jpg");
  }
  &.monsters-ink {
    background-image: url("/assets/3-monsters-ink/background.jpg");
  }
  &.co-site {
    background-image: url("/assets/4-company-corporate-site/background.png");
  }
  &.greater-good {
    background-image: url("/assets/5-Greater-good/background.jpg");
    background-size: 100%;
  }
  &.emails {
    background-image: url("/assets/7-responsive-e-mails-banners/background.jpg");
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes Gradient {
  0% {
    background-size: 120% 120%;
    background-position: left top;
  }

  50% {
    background-size: 200% 180%;
    background-position: right bottom;
  }

  100% {
    background-size: 120% 120%;
    background-position: left top;
  }
}


#heroHolder {
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 20rem;
  h1 {
    font-size: 3rem;
    color: white;
    padding: 0 5%;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 6px 34px rgba(0, 0, 0, 0.42);
  }
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  /* set height to pixels if you want angle to change with screen width */
}

/* ABOUT */

.about {
  max-width: 960px;
  margin: 6rem auto 4rem auto !important;
  display: block;
  text-align: left;
  h1, p {
    margin-bottom: 2rem;
  }
}

.aboutLinks {
  margin-bottom: 4rem !important;
  text-align: center;
  max-width: 960px;
  svg {
    position: relative;
    width: 36px;
    height: auto;
    margin: 0 1rem;
    transition: all 1s;
    &:hover {
      animation: 1s iconHover;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
  }
}

@-webkit-keyframes iconHover {
  0% {
    fill: $main;
  }

  100% {
    fill: $dark-color;
  }
}


.skillbox {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.columns {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  order: 2;
}

.skills {
  width: 25%;
  order: 1;
  ul {
    text-align: left;
    li:first-of-type {
      font-weight: bold;
      color: $main;
      margin-bottom: 1rem;
    }
  }
}

/* HOME */

.homeProject {
  margin-bottom: 8rem;
  display: inline-block;
  width: 40%;
  margin: 5% 5%;
  vertical-align: top;
  &:nth-of-type(odd) {
    margin-top: 10%;
  }
  .preview {
    max-width: 720px;
    margin: 0 auto;
    display: block;
    text-align: left;
    border-color: #ddd;
  }
}

#allProjects {
  &.hidden {
    opacity: 0;
  }
  &.show .homeProject {
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-fill-mode: both;
    transform: scale(1);
    transition: all 1s;
    img {
      transition: all .5s;
    }
    &:hover img {
      transform: scale(1.025);
      transition: all .5s;
    }
    &:nth-child(2) {
      animation-delay: .2s;
    }
    &:nth-child(3) {
      animation-delay: .4s;
    }
    &:nth-child(4) {
      animation-delay: .6s;
    }
    &:nth-child(5) {
      animation-delay: .8s;
    }
    &:nth-child(6) {
      animation-delay: 1s;
    }
  }
}

.preview {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  .footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  h1 {
    text-align: center;
    line-height: 1em;
    font-weight: 900;
    margin: 1rem 0;
  }
  .footer {
    display: none;
  }
}

#allProjects.show .homeProject {
  .image:after {
    width: 0;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &:hover .image:after {
    background: $main;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.75s ease-in-out;
  }
  .image {
    background: $secondary;
    overflow: hidden;
    img {
      animation: fadeinImg .5s forwards;
    }
  }
  &:hover .image img {
    animation: fadeoutImg .5s forwards;
  }
  .image figcaption {
    display: none;
    color: white;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadedown;
    animation-delay: .25s;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    span {
      line-height: 1rem;
      display: block;
      font-size: 0.75rem;
    }
    h1 {
      color: white;
    }
  }
  &:hover .image figcaption {
    display: block;
  }
}

@-webkit-keyframes fadeoutImg {
  from {
    opacity: 1;
  }

  to {
    opacity: .15;
  }
}


@-webkit-keyframes fadeinImg {
  from {
    opacity: .15;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }

  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}


.feature {
  max-width: 75%;
  margin: 7rem auto 0 auto;
  vertical-align: top;
  h1 {
    margin-bottom: 1rem;
  }
  img {
    width: 20%;
    margin-bottom: 1.5rem;
  }
}

.featureBox {
  width: 28%;
  display: inline-block;
  margin: 0 2.5%;
}

#features {
  margin-top: 8rem;
  margin-bottom: 10rem;
}

.feature {
  width: 30%;
  display: inline-block;
  margin: 0 1.5%;
  text-align: center;
}

.active article.feature {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  &:nth-child(2) {
    animation-delay: .25s;
  }
  &:nth-child(3) {
    animation-delay: .5s;
  }
}

.demoProjects {
  margin-top: 10rem;
  margin-bottom: 10rem;
  visibility: hidden;
  h1 {
    margin: 6rem auto 8rem auto;
    text-align: center;
    display: block;
    font-size: 2rem;
  }
  h2:hover {
    opacity: 1 !important;
  }
  > * {
    visibility: visible;
    transition: opacity 350ms ease-in-out 100ms;
  }
  &:hover > * {
    opacity: 0.2;
  }
  > *:hover {
    opacity: 1;
  }
  .demo {
    margin: 0 auto 4rem auto;
    max-width: 75%;
    img {
      width: 35%;
      display: inline-block;
      box-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.05);
    }
    .demoHolder {
      display: inline-block;
      vertical-align: top;
      margin-left: 5%;
      text-align: left;
      width: 60%;
      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* SINGLE PROJECT */

.project {
  text-align: left;
  padding-top: 8rem;
  &.less-effort img:nth-of-type(4) {
    width: 35%;
  }
  &.mpc img {
    &:nth-of-type(3), &:nth-of-type(4) {
      width: 35%;
    }
  }
  &.co-site img {
    &:nth-of-type(3) {
      width: 70%;
    }
    &:nth-of-type(5) {
      width: 35%;
    }
  }
  &.emails img:nth-of-type(4) {
    width: 50%;
  }
  img {
    box-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    max-width: 840px;
    margin-bottom: 4rem;
    width: 100%;
    border-radius: 5px;
  }
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 4rem;
  }
}



.projectLink{    
  text-align: center;
  display: table;
  font-size: 1.25rem;
  line-height: 2.2rem;
  border: solid #A19EB1 5px;
  font-family: Fjalla One,sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  padding: .5rem 2rem;
  background: #fff;
  transition: all .5s;
  &:hover{
    border: solid #fff 5px;
    color: #fff;
    background: #A19EB1
  }
}

a[href="///"] {
  display: none;
}




.homeLink {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1rem;
  margin-top: 4rem;
}

/* FOOTER */

footer {
  padding: 21rem 2rem 2rem 2rem;
  background: $dark-color;
  margin-top: 2rem;
  position: relative;
  color: #F9F9F9;
  z-index: -1;
}

svg#footer {
  bottom: 188px;
  position: absolute;
  width: 100%;
  height: 180px;
  left: 0;
}

#footerLogo {
  position: relative;
  width: 3.5rem;
  margin: 1rem auto;
  display: block;
  height: auto;
}

#footerHolder {
  position: fixed;
  padding: 14rem 0 2rem 0;
  bottom: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  left: 0;
  z-index: -1;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .homeProject {
    display: inline-block;
    width: 100%;
    margin: 0 0 4rem 0;
    vertical-align: top;
    &:nth-of-type(odd) {
      margin: 0 0 4rem 0;
    }
  }
  .feature {
    width: 100%;
    display: inline-block;
    margin: 1rem 1.5%;
    text-align: center;
  }
  #features {
    margin-top: 4rem;
  }
  .demoProjects .demo {
    max-width: 100%;
    .demoHolder {
      margin-left: 0;
      width: 100%;
      text-align: center;
      margin-top: 2rem;
    }
    img {
      width: 100%;
    }
  }
  #allProjects {
    opacity: 1;
    margin-top: 4rem;
    &.show .homeProject {
      &:nth-child(2) {
        animation-delay: .5s;
      }
      &:nth-child(3) {
        animation-delay: 1s;
      }
      &:nth-child(4) {
        animation-delay: 1.5s;
      }
      &:nth-child(5) {
        animation-delay: 2s;
      }
      &:nth-child(6) {
        animation-delay: 2.5s;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #overlay {
    background-position: center bottom;
  }
}

@media only screen and (max-width: 480px) {
  .skills {
    width: 100%;
    margin-bottom: 2rem;
  }
  .columns {
    display: block;
  }
}

/* Custom, iPhone Retina */